
    /* Ограничиваем высоту списка и добавляем вертикальную прокрутку */
.scrollable-list-group {
  max-height: 150px; /* Ограничиваем высоту контейнера */
  overflow-y: auto;  /* Добавляем вертикальную прокрутку */
}
#additionalBtn::after {
    display: none; /* Скрываем иконку треугольника */
}