
{% extends 'base.html' %}
{% load custom_filters %}
{% load label_custom_filters %}
{% load static %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'Nomenclature/styles.css' %}">
    <div class='projects-section' id="all_content">
        <div class='projects-section-header' >
            <p>Номенклатура</p>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary  rounded-pill bg-gradient" id="newNomenclature" data-bs-toggle="modal" data-bs-target="#newNomenclatureModal">Новая номенклатура</button>
                    <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="newNomenclatureRow" data-bs-toggle="modal" data-bs-target="#newNomenclatureRowModal">Новый реквизит</button>
                    <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="editNomenclatureRow" data-bs-toggle="modal" data-bs-target="#editNomenclatureRowModal">Редактирвоать реквизиты</button>
                </div>
            </div>
            <div class="col-md-2 ms-auto">
                <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="sendNomenclature" data-bs-toggle="modal" data-bs-target="#sendNomenclatureModal">Выгрузка на рабочие станции</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2">
                <select class="form-select rounded-4" aria-label="Default select example">
                  <option selected disabled>Сортировка по...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2">
                <select class="form-select rounded-4" aria-label="Default select example">
                  <option selected disabled>Действия...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
            </div>
            <div class="col-4">
                <input class="form-control rounded-4" id="searchInput" type="text" placeholder="Поиск..." aria-label="default input example">
            </div>
        </div>
        <div class="row mb-2 mt-4" id="nomenclatureList">
            <div class="accordion" id="accordionExample">
                {% for nomenclature in products %}
                    <div class="accordion-item" id="nomenclature-{{ nomenclature.id }}">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ nomenclature.article }}" aria-expanded="false" aria-controls="collapseOne">
                                Артикул: {{ nomenclature.article }} - {{ nomenclature.name }}
                            </button>
                        </h2>
                        <div id="collapseOne-{{ nomenclature.article }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="is-pulled-left exp_date" style="margin-bottom: 10px;"><b>Срок годности:</b> {{ nomenclature|get:'exp_date' }} суток.</p>
                                        <p class="is-pulled-left close_box_counter" style="margin-bottom: 10px;"><b>Максимальное к-во вложений в коробе:</b> {{ nomenclature|get:'close_box_counter' }} шт.</p>
                                    </div>
                                    <div class="col">
                                        <p class="is-pulled-right" style="margin-bottom: 10px;"><b>Тип упаковки (вложение):</b> {{ nomenclature|get:'portion_container_id'|unpack_associated_field|get:'value' }}</p>
                                        <p class="is-pulled-right" style="margin-bottom: 10px;"><b>Тип упаковки (короб) :</b> {{ nomenclature|get:'box_container_id'|unpack_associated_field|get:'value' }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="is-pulled-right" style="margin-bottom: 10px;"><b>Шаблон единичной этикетки:</b> {{ nomenclature|get:'templates_pack_label'|get_from_list:'value' }}</p>
                                        <p class="is-pulled-right" style="margin-bottom: 10px;"><b>Шаблон этикетки короба:</b> {{ nomenclature|get:'templates_box_label'|get_from_list:'value' }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="is-pulled-right" style="margin-bottom: 10px;"><b>Дата создания:</b> {{ nomenclature|get:'created' }}</p>
                                        <p class="is-pulled-right" style="margin-bottom: 10px;"><b>Дата изменения:</b> {{ nomenclature|get:'edited' }}</p>
                                    </div>
                                </div>
                                <!-- Ваши дополнительные данные -->
                                <div class="row row-cols-4">
                                    {% for item in filtred_rows %}
                                        <div class="col">
                                            <p class="{% cycle 'is-pulled-left' 'is-pulled-right' %}" style="margin-bottom: 10px;">
                                                <b>{{ item }}:</b> {{ nomenclature|get:item }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            <button type="button" class="btn btn-primary rounded-pill bg-gradient editNomenclatureButton" id="" data-id="{{ nomenclature.id }}" data-nomenclature="{{ nomenclature }}">Изменить</button>
                            <button type="button" class="btn btn-danger rounded-pill bg-gradient deleteNomenclatureButton" data-id="{{ nomenclature.id }}">Удалить</button>
                            </div> <!-- Закрытие accordion-body -->
                        </div> <!-- Закрытие accordion-collapse -->
                    </div> <!-- Закрытие accordion-item -->
                {% endfor %}
            </div> <!-- Закрытие accordion -->
        </div>

        <div class="modal fade modal-lg" id="newNomenclatureModal"  tabindex="-1" aria-labelledby="editTextModalLabel" aria-hidden="true">
            {{ filtred_nomenclature_fields|json_script:"filtred-nomenclature-fields" }}
          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-card-title text-center w-100" id="nomenclatureModalLabel">Добавление номекнлатуры</h5>
                </div>
                <section class="modal-card-body">
                    <form id="saveNewNomeclature" class="was-validated" novalidate>
                        <div class="form-floating mb-3 mt-2">
                              <input type="text" class="form-control" id="name" placeholder="name" required>
                              <label for="name" class="form-label">Название номенклатуры <span class="text-danger">*</span></label>
                              <div class="invalid-feedback">
                                  Пожалуйста заполните поле!
                              </div>
                        </div>
                        <div class="form-floating mb-3 mt-2">
                              <input type="number" class="form-control" id="article" placeholder="article" required>
                              <label for="article">Артикул <span class="text-danger">*</span></label>
                              <div class="invalid-feedback">
                                  Пожалуйста заполните поле!
                              </div>
                        </div>
                        <div class="form-floating mb-3 mt-2">
                              <input type="number" class="form-control" id="close_box_counter" placeholder="count_items_in_box" required>
                              <label for="close_box_counter">Количество вложений в коробе <span class="text-danger">*</span></label>
                              <div class="invalid-feedback">
                                  Пожалуйста заполните поле!
                              </div>
                        </div>
                        <div class="form-floating mb-3 mt-2">
                            <input type="number" class="form-control" id="exp_date" placeholder="exp_date" required>
                            <label for="exp_date">Срок годности <span class="text-danger">*</span></label>
                            <div class="invalid-feedback">
                                  Пожалуйста заполните поле!
                            </div>
                        </div>
                        <div class="form-floating mb-3 mt-2">
                            <select class="form-select" id="portion_container_id" aria-label="Floating label select example">>
                                {% for pack in packs %}
                                    <option value="{{ pack.name }}">{{ pack.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Тип упаковки (вложение)</label>
                        </div>
                        <div class="form-floating mb-3 mt-2">
                            <select class="form-select" id="box_container_id" aria-label="Floating label select example">
                                {% for pack in packs %}
                                    <option value="{{ pack.name }}">{{ pack.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Тип упаковки (Короб)</label>
                        </div>
                        <div class="form-floating mb-3 mt-2">
                            <select class="form-select" id="templates_pack_label" aria-label="Floating label select example">
                                {% for label in labels %}
                                    <option value="{{ label.name }}">{{ label.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Шаблон единичной этикетки</label>
                        </div>
                        <div class="form-floating mb-3 mt-2">
                            <select class="form-select" id="templates_box_label" aria-label="Floating label select example">
                                {% for label in labels %}
                                    <option value="{{ label.name }}">{{ label.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Шаблон этикетки короб</label>
                        </div>
                        {% for field in filtred_nomenclature_fields %}
                            <div class="form-floating mb-3 mt-2">
                              <input type="text" class="form-control" id="{{ field.name }}" placeholder="{{ field.name }}" required>
                              <label for="{{ field.name }}">{{ field.name }} <span class="text-danger">*</span></label>
                              <div class="invalid-feedback">
                                  Пожалуйста заполните поле!
                              </div>
                            </div>
                            
                        {% endfor %}
                    </form>
                </section>
                <footer class="modal-card-foot">
                  <div class="buttons">
                      <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="saveNomenclatureButton">Сохранить</button>
                      <button type="button" class="btn btn-primary rounded-pill bg-gradient" data-bs-dismiss="modal">Отменить</button>
                  </div>
                </footer>
                <div class="box is-hidden has-background-danger-light" id="errorBox"></div>
              </div>
          </div>
        </div>
        <div class="modal fade modal" id="newNomenclatureRowModal" tabindex="-1" aria-labelledby="editTextModalLabel" aria-hidden="true">
           <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-card-title text-center w-100">Добавление нового реквизита номенклатуры</h5>
                </div>
                <section class="modal-card-body">
                    <form id="saveNewRowNomenclature">
                        <div class="form-floating mb-3 mt-2">
                              <input type="text" class="form-control" id="name" name="newRowName" placeholder="name" required>
                              <label for="name">Введите название нового реквизита <span class="text-danger">*</span></label>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot">
                  <div class="buttons">
                      <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="saveNewRowNomenclatureButton">Сохранить</button>
                      <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="cancelNewNomenclatureRowButton" data-bs-toggle="modal"  data-bs-target="newNomenclatureRowModal">Отменить</button>
                  </div>
                </footer>
                <div class="box is-hidden has-background-danger-light" id="errorBoxNewRow"></div>
              </div>
          </div>
        </div>
        <div class="modal fade modal" id="editNomenclatureRowModal" tabindex="-1" aria-labelledby="editTextModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-card-title text-center w-100">Редактирование реквизитов номенклатуры</h5>
                </div>
                    <section class="modal-card-body">
                        {% for item in filtred_nomenclature_fields %}
                            <div class="card mt-2 mb-2">
                              <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><b>Поле: </b>{{ item.name }}</p>
                                    </div>
                                      <div class="col">
                                        <div class="edit_delete_fields_button">
                                            <button class="btn btn-danger btn-sm rounded-4"
                                              id="deleteFieldNomenclatures" data-field-id="{{ item.id }}">Удалить</button>
                                            <button class="btn btn-primary btn-sm rounded-4"
                                              id="editFieldNomenclatures" data-field-id="{{ item.id }}">Изменить</button>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </section>
                <div class="box is-hidden has-background-danger-light" id="errorBoxNewRow"></div>
            </div>
          </div>
        </div>
        <div class="modal fade modal-xl" id="sendNomenclatureModal" tabindex="-1" aria-labelledby="editTextModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-card-title text-center w-100">Передача номенклатуры на стании маркировки</h5>
                </div>
                <section class="modal-card-body">
                <div class="row mt-2">
                    <div class="col">
                        <div>
                              <input class="form-check-input" type="checkbox" id="checkbox-AllStations" value="" aria-label="...">
                        </div>
                    </div>
                    <div class="col">
                        <h6>Статус</h6>
                    </div>
                    <div class="col">
                        <h6>Станция</h6>
                    </div>
                    <div class="col">
                        <h6>UUID станции</h6>
                    </div>
                </div>
                    <div class="card mt-2 mb-2">
                        <div class="card-body">
                            {% for item in stations %}
                            <div class="row mb-2 mt-2 rounded" style="background-color: #e9e7fd" data-uuid="{{ item.station_uuid }}" id="station-{{ item.station_uuid }}">
                                <div class="col align-content-center">
                                    <div>
                                      <input class="form-check-input" type="checkbox" id="checkbox-{{ item.station_uuid }}" value="" aria-label="...">
                                    </div>
                                </div>
                                {% if item.is_online %}
                                    <div class="col align-content-center" id="online-status-{{ item.stations_uuid }}">
                                        <div class="participants" id="connection-status">
                                            <dotlottie-player src="https://lottie.host/0b3cadf9-38da-439b-a106-a05f19b5d43a/9HHLpSV9fj.json" background="transparent" speed="1" style="width: 30px; height: 30px;" loop autoplay></dotlottie-player>
                                            <p class="align-middle" style="margin-top: 1rem">Статус подключения: Online</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col align-content-center" id="offline-status-{{ item.station_uuid }}">
                                        <div class="participants" id="connection-status">
                                            <dotlottie-player src="https://lottie.host/de9da52a-54d9-4639-a22e-dbab047b77dc/bJEOrrnABg.json" background="transparent" speed="1" style="width: 30px; height: 30px;" loop autoplay></dotlottie-player>
                                            <p class="align-middle" style="margin-top: 1rem">Статус подключения: Offline</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col align-content-center">
                                    {{ item.station_name }}
                                </div>
                                 <div class="col">
                                    {{ item.station_uuid}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                  <div class="buttons">
                      <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="sendToStations">Передать на станции</button>
                      <button type="button" class="btn btn-primary rounded-pill bg-gradient" id="cancelNomenclatureButton" data-bs-toggle="modal"  data-bs-target="sendNomenclatureModal">Выход</button>
                  </div>
                </footer>
                <div class="box is-hidden has-background-danger-light" id="errorBox"></div>
              </div>
          </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToastNomenclature" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              
              <strong class="me-auto">Уведомление</strong>
              <small>11 mins ago</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Номенклатура успешно сохранена!
            </div>
          </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToastNomenclatureField" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              
              <strong class="me-auto">Уведомление</strong>
              <small>Сейчас</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Новый реквизит успешно сохранён!
            </div>
          </div>
        </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'Nomenclature/script.js' %}"></script>
{% endblock %}