
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="projects-section">
      <div class="projects-section-header">
        <p>Станции маркировки</p>
        <p class="time">December, 12</p>
      </div>
      <div class="projects-section-line">
        <div class="view-actions">
          <button id="auto-search-btn" class="buttonAddStations">Автоматический поиск станций</button>
        </div>
        <button class="buttonAddStations">Добавление стании вручную</button>
      </div>
      {% for station in label_stations %}
        <div id="stations-container">    
            <div class="project-box-wrapper">
              <div class="project-box" style="background-color: #d5deff;">
                <div class="project-box-header">
                  <span>Добавлено: {{ station.created_at }}</span>
                  <div class="more-wrapper">
                    <button class="project-btn-more">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="12" cy="5" r="1" />
                        <circle cx="12" cy="19" r="1" /></svg>
                    </button>
                      <div class="dropdown-menu"> 
                        <button class="dropdown-item edit-btn">Изменить</button>
                        <button class="dropdown-item delete-btn">Удалить</button>
                    </div>
                  </div>
                </div>
                <div class="project-box-content-header">
                  <p class="box-content-header"> Имя устройства: {{ station.station_name }}</p>
                  <input type="text" class="station-name-input" value="{{ station.station_name }}">
                  <p class="box-content-header">UUID: {{ station.stations_uuid }}</p>
                  <p class="box-content-subheader">Ip adress: </p>
                </div>
                <div class="box-progress-wrapper">
                  <div class="box-progress-bar">
                    <span class="box-progress" style="width: 100%; background-color: #4067f9"></span>
                  </div>
                </div>
                <div class="project-box-footer">
                  <div class="participants">
                      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
                      <dotlottie-player src="https://lottie.host/de9da52a-54d9-4639-a22e-dbab047b77dc/bJEOrrnABg.json" background="transparent" speed="1" style="width: 40px; height: 40px;" loop autoplay></dotlottie-player>
                       <p>Статус подключения: Отключено</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
  </div>

  <!-- Модальное окно -->
  <div id="loading-modal" style="display: none;">
    <div class="modal-content">
      <p>Поиск станций...</p>
      <div class="loader"></div>
    </div>
  </div>
    
  {% block extra_js %}
    <script src="{% static 'label_stations/script.js' %}"></script>
  {% endblock %}
{% endblock %}


