{% extends 'LabelTemplates/create_label_templates.html' %}
{% block extra_js_variables %}
<script>
    var label_data = {{ label_data.structure|default:"null"|safe }};
    var name_label = "{{ label_data.name|default:""|escapejs }}";
    var id_label = "{{ label_data.id|default:""|escapejs }}";
    
    document.getElementById('updateLabel').addEventListener('click', function() {

        var nameLabel = document.getElementById('nameLabel').value;
        if (nameLabel.trim() === '') {
            alert('Поле "Название метки" не может быть пустым.');
            return;


        } else {

            const csrfToken = getCookie('csrftoken');
            const canvasJson = getJSON()


            fetch('', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                    'X-Action': 'updateLabel',
                },
                body: JSON.stringify({
                    'structure': canvasJson,
                    'name': nameLabel,
                    'id': id_label
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Шаблон успешно сохранён');
                    } else {
                        alert('Ошибка при отправке данных: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert('Произошла ошибка при отправке данных.');
                });
        }
    })
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Проверяем, если cookie начинается с названия токена (name)
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}